{% extends 'bootstrap/base.html' %} {% block title %}{{ title_name }}{% endblock %} {% block content %} {% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css"> -->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> {% endblock %}

<div class="page-header">
    <div class="container">
        <h1>{{ self.title() }}</h1>
    </div>
</div>

<div class="container">

    <form class="form-inline" role="form" method="POST" action="{{ url_for('weather') }}">
        <div class="form-group">
            <label class="sr-only" for="city_name">城市：</label>
            <input type="text" class="form-control" id="city_name" placeholder="请输入城市名称">
        </div>
        <button type="submit" class="btn btn-primary" name="order" value="search">查询</button>
        <button type="submit" class="btn btn-primary" name="order" value="history">历史</button>
        <button type="submit" class="btn btn-primary" name="order" value="help">帮助</button>
    </form>

    <div class="col-md-4 grid">
        <h3><i></i>广州</h3>
        <h4><i></i>天气：晴</h4>
        <h4><i></i>风向：西风</h4>
        <h4><i></i>温度：18 &#8451;</h4>
        <!--
        <p>输入城市名，获取该城市最新天气情况 点击「帮助」，获取帮助信息 点击「历史」，获取历史查询信息
        </p>
    -->
    </div>


</div>

{% endblock content %} {% block head %} {{ super() }} {% endblock %}